# --- Application configuration ---
APP_PORT=8501

# --- API ---
API_HOST=api
API_PORT=8500

# --- SQL ---
SQL_USER=admin_sql
SQL_PASSWORD=pass_sql
SQL_DB=db_saude_sql
SQL_HOST=db_sql
SQL_PORT=5432

# --- NoSQL ---
MONGO_USER=admin_nosql
MONGO_PASSWORD=pass_nosql
MONGO_DB=db_saude_nosql
MONGO_HOST=db_nosql
MONGO_PORT=27017

# --- Vector store ---
VECTOR_DB_PATH=./chroma_db
VECTOR_HOST=db_vector
VECTOR_PORT=8002

# --- Observability (Langfuse) ---
LANGFUSE_PUBLIC_KEY=pk-lf-fbcd8953-c162-44b5-b528-fa83bc914e35
LANGFUSE_SECRET_KEY=sk-lf-e386b4e1-0842-4f77-922b-322ba96a1f28
LANGFUSE_HOST=http://langfuse:3000
LANGFUSE_NEXTAUTH_SECRET='65v/fXoNjaeXlAQUJCPxdHkIvPCfF3bWf08AabqMKmU='
LANGFUSE_SALT='Aqht/ko4GTkLoq3OeUMEHMJODkQqVJKOhrnQHwxIN7I='
LANGFUSE_ENCRYPTION_KEY=554b79b9be387e34dfdabea64b56978bd391690b93cc174c5fd949091ce758b1