# --- Configurações da Aplicação ---
APP_PORT=8501

# --- API ---
API_HOST=api
API_PORT=8500

# --- SQL ---
SQL_USER=admin_sql
SQL_PASSWORD=pass_sql
SQL_DB=db_saude_sql
SQL_HOST=db_sql
SQL_PORT=5432

# --- NoSQL ---
MONGO_USER=admin_nosql
MONGO_PASSWORD=pass_nosql
MONGO_DB=db_saude_nosql
MONGO_HOST=db_nosql
MONGO_PORT=27017

# --- Vetorial ---
VECTOR_DB_PATH=./chroma_db
VECTOR_HOST=db_vector
VECTOR_PORT=8002