# Aplicação
streamlit
python-dotenv

# Bases de dados
psycopg2-binary
pymongo
chromadb

# Dados e APIs
pandas
requests
plotly
fitz
numpy

# Crawlers e extração
selenium
webdriver-manager
lxml
trafilatura
tqdm
pypdf
openpyxl

# Embeddings (ChromaDB)
sentence-transformers
ollama
PyYAML
scikit-learn

#api
fastapi
pydantic
pydantic-settings

# LangChain SQL tool
langchain-ollama>=0.2.0
langchain-community>=0.3.0
SQLAlchemy
langfuse