# Ambientes Virtuais
.venv/
venv/
env/
ENV/

# Ficheiros compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheiros de IDEs (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore
